<div id="page-content">
    <h1 class="text-center mt-4">Add a Comment</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <%= form_with model: [@article,@article.comments.build], class: "shadow p-3 mb-3 bg-info rounded" do |f| %>
                    <div class="form-group row">
                        <%= f.label :commenter, class: "col-2 col-form-label text-light" %>
                        <div class="col-10">
                            <%= f.text_field :commenter, class: "form-control shadow rounded" %>
                        </div>
                    </div>

                    <div class="form-group row mt-3">
                        <%= f.label :body,class: "col-2 col-form-label text-light" %>
                        <div class="col-10">
                            <%= f.text_area :body, rows: 10, class: "form-control shadow rounded" %>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <%= f.submit class: "btn btn-outline-light btn-lg mt-3" %>
                    </div>
                <% end %>
            </div>
            <%= link_to ' [ Return to article ] ', article_path(@article), class: "text-info text-center" %>
        </div>
    </div>
</div>
