
<h2 class="text-center"><%= @article.title %></h2>

<%= image_tag @article.image.url, class: "resize-image" if @article.image.present?  %>

<div class="container">
        <div class="row justify-content-md-center">
            <div class="col-8 mt-4">
                <div class="card text-center shadow mb-5 bg-white rounded">
                <div class="card-header fst-italic">
                    by - <%= @article.author.username %>
                </div>
                <div class="card-body">
                    <div class="card-text"><%= simple_format(@article.description) %></div>
                    <% if can? :create, @comment %>
                        <%= link_to "Comment", new_user_article_comment_path(:author_id,@article), class: "btn btn-outline-success"%>
                    <% end %>
                    <% if can? :update, @article%>
                        <%= link_to "Edit", edit_user_article_path(:author_id,@article), class: "btn btn-outline-info"%>
                    <% end %>
                    <% if can? :destroy, @article%>
                        <%= link_to "Delete", user_article_path(:author_id,@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline-danger" %>
                    <% end %>
                    <%= link_to "Return", user_articles_path(:author_id), class: "btn btn-outline-secondary"%>

                    <div>
                    <button id="like-button">Like</button>
                    <button id="dislike-button">Dislike</button>
                    <span>Likes: <span id="like-count"><%= @article.likes.count %></span></span>
                    <span>Dislikes: <span id="dislike-count"><%= @article.dislikes.count %></span></span>
                    </div>


                    <script>
                    function updateLikesDislikes(response) {
                        console.log(response);
                        document.getElementById('like-count').textContent = response.likes;
                        document.getElementById('dislike-count').textContent = response.dislikes;
                    }

                    function sendLikeRequest(articleId, userId, csrfToken) {
                        console.log(articleId, userId);
                        fetch(`/users/${userId}/articles/${articleId}/like`, {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json', 'X-CSRF-Token': csrfToken },
                        credentials: 'same-origin'
                        })
                        .then(response => response.json())
                        .then(response => console.log(response));
                    }

                    function sendDislikeRequest(articleId, userId, csrfToken) {
                        fetch(`/users/${userId}/articles/${articleId}/dislike`, {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json', 'X-CSRF-Token': csrfToken },
                        credentials: 'same-origin'
                        })
                        .then(response => response.json())
                        .then(updateLikesDislikes);
                    }

                    document.addEventListener('DOMContentLoaded', function() {
                        const likeButton = document.getElementById('like-button');
                        const dislikeButton = document.getElementById('dislike-button');
                        const articleId = <%= @article.id %>;
                        const userId = <%= @user.id %>
                        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

                        console.log(csrfToken);

                        likeButton.addEventListener('click', function() {
                        sendLikeRequest(articleId, userId, csrfToken);
                        });

                        dislikeButton.addEventListener('click', function() {
                        sendDislikeRequest(articleId, userId, csrfToken);
                        });
                    });
                    </script>


                </div>


                <div class="card-footer text-muted">
                    <small>Created <%= time_ago_in_words(@article.created_at) %> ago,
                    edited <%= time_ago_in_words(@article.updated_at) %> ago</small>
                    <!--<p><%= "#{pluralize(@article.comments.count,'user')} commented on this Article." %></p>-->
                    <p><%= pluralize(@article.comments.distinct.count(:author_id), 'user') %> commented on this Article.</p>
                    <% user_comments_count = current_user.comments.where(article_id: @article.id).count %>
                    <p><%= "You have added #{user_comments_count} #{'comment'.pluralize(user_comments_count)} on this Article." %></p>
                </div>
                </div>
            </div>
        </div>
</div>
<h2>Comments</h2>
<%= render "comments/comment" %>


