<h1>Showing article details</h1>

<p><strong>Title:</strong>
    <%= @article.title%>
</p>

<p><strong>Title:</strong>
    <%= @article.description%>
</p>

<td><%= link_to 'Comment',new_article_comment_path(@article) %>
<td><%= link_to 'Edit',edit_article_path(@article) %></td>
<td><%= link_to 'Delete',article_path(@article),data: {turbo_method: :delete,turbo_confirm: "Are you sure?"} %></td>
<td><%= link_to 'Return to Articles',articles_path %></td>

<%= render "comments/comment" %>
